<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Finding nearest restaurant with you">
    <meta name="theme-color" content="#2C3333"/>
    <link rel="manifest" href="./app.webmanifest">
    <link rel="icon" href="favicon.png">
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous"> 
    <title>Madang Apps</title>
</head>
<body>
    <a href="#content" class="skip_link">Menuju ke konten</a>
    <header class="navbar">
        <div class="navbar_menu">
            <button id="menu" class="header_menu" aria-label="menu">☰</button>
        </div>
        <div class="navbar_brand">
            <h1><a href="/">Madang Apps</a></h1>
        </div>
        <nav id="navigationDrawer" class="navbar_navigation">
            <ul class="navlist">
                <li><a href="#/home">HOME</a></li>
                <li><a href="#/favorite">FAVORITE</a></li>
                <li><a target="_blank" href="https://github.com/haninafis">ABOUT US</a></li>
            </ul>
        </nav>
    </header>
    <picture>
    <source media="(max-width: 600px)" srcset="./images/heros/hero-image_2.jpg" />
    <source type="image/webp" srcset="./images/heros/hero-image_2.webp" />
    <div class="heroelement" style="background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url('images/heros/hero-image_2.jpg');">
        <div class="heroelement_text">
            <h1 class="heroelement_texttitle">Madang Apps</h1>
            <p class="heroelement_textsubtitle">Lapar...? Madang Dah, Kaga Usah Disuruh</p>
        </div>
    </div>
    </picture>
    <Main tabindex="0" id="content" class="content"></Main>
    <footer>
        <p>Copyright © 2022 - Madang Apps</p>
    </footer>
</body>
</html>
