<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Madang Apps</title>
</head>
<body>
    <nav class="navbar">
        <a class="apps" href="">MADANG APPS</a>
        <ul class="navlist">
            <li class="navitems"><a href="">HOME</a></li>
            <li class="navitems"><a href="#">FAVORITE</a></li>
            <li class="navitems"><a target="_blank" href="https://github.com/haninafis">ABOUT US</a></li>
        </ul>
    </nav>
    <div class="heroelement" style="background-image: url('images/heros/hero-image_2.jpg');">
        <div class="heroelement_text">
            <h1 class="heroelement_texttitle">Madang Apps</h1>
            <p class="heroelement_textsubtitle">Lapar...? Madang Dah, Kaga Usah Disuruh</p>
        </div>
    </div>

</body>
</html>
