<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Madang Apps</title>
</head>
<body>
    <a href="#content" class="skip_link">Menuju ke konten</a>
    <header class="navbar">
        <div class="navbar_menu">
            <button id="menu" class="header_menu" aria-label="menu">☰</button>
        </div>
        <div class="navbar_brand">
            <h1>Madang Apps</h1>
        </div>
        <nav id="navigationDrawer" class="navbar_navigation">
            <ul class="navlist">
                <li><a href="/">HOME</a></li>
                <li><a href="#/favorite">FAVORITE</a></li>
                <li><a target="_blank" href="https://github.com/haninafis">ABOUT US</a></li>
            </ul>
        </nav>
    </header>
    <div class="heroelement" style="background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url('images/heros/hero-image_2.jpg');">
        <div class="heroelement_text">
            <h1 class="heroelement_texttitle">Madang Apps</h1>
            <p class="heroelement_textsubtitle">Lapar...? Madang Dah, Kaga Usah Disuruh</p>
        </div>
    </div>
    <Main id="content" class="content"></Main>
    <footer>
        <p>Copyright © 2022 - Madang Apps</p>
    </footer>
</body>
</html>
