@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.skip_link {
  position: absolute;
  top: -50px;
  left: 0;
  background-color: #c00d19;
  color: white;
  padding: 15px;
  z-index: 100;
  text-decoration: none;
}
 
.skip_link:focus {
   top: 0;
}

.navbar {
  padding: 8px 16px;
  background-color: #2C3333;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 11px;
  position: sticky;
  top: 0;
  z-index: 99;
  box-shadow: 0 2px 4px 0 rgba(1, 1, 1, 0.2);
}

.navbar .navbar_menu {
  display: flex;
  align-items: center;
}

.navbar .navbar_menu button {
  background-color: transparent;
  border: none;
  font-size: 25x;
  padding: 10px 15px;
  cursor: pointer;
}

.navbar .navbar_brand {
  display: flex;
  align-items: center;
}

.navbar .navbar_brand a {
  color: white;
  font-size: 22px;
  user-select: none;
  padding: 10px 0px;
}

.navbar .navbar_navigation {
  position: absolute;
  top: 50px;
  left: -180px;
  width: 150px;
  transition: all 0.3s;
  padding: 10px;
  background-color: #2C3333;
  overflow: hidden;
}

.navbar .navbar_navigation.open {
  left: 0;
}

.navbar .navbar_navigation ul li a {
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 13px 5px;
  margin-bottom: 5px;
  width: 100%;
}

.heroelement {
  display: flex;
  align-items: center;
  min-height: 350px;
  width: 100%;
  background-position: center;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url('../public/images/hero-large.jpg');
}

@media (max-width: 600px) {
  .heroelement {
    background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url('../public/images/hero-small.jpg');
  }
}

.heroelement_text {
	margin: 0 auto;
}

.heroelement_texttitle {
	color: #fff;
	font-weight: 700;
	font-size: 40px;
	text-shadow: 1px 1px #000000;
}

.heroelement_textsubtitle {
	color: #fff;
	margin-top: 20px;
	font-size: 20px;
	font-weight: 700;
	text-shadow: 1px 1px #000000;
}

.content {
	width: 100%;
	margin: 0 auto;
}

.content h1 {
  text-align: center;
  padding: 30px;
  font-size: 25px;
}

.list {
  margin: 20px;
  margin-top: 0px;
	display: grid;
	gap: 20px 20px;
}

.list_item {
  box-shadow: rgba(5, 5, 5, 0.35) 0px 5px 15px;
  width: 100%;
  border-radius: 6px;
  position: relative;
}

.list_item_img {
  border-radius: 6px 6px 0 0;
	width: 100%;
	max-height: 225px;
}

.city {
  color: black;
  position: absolute;
  top: 20px;
  color: white;
  background-color: #2C3333;
  padding: 13px 20px 13px 20px;
}

.list_item_detail {
  margin: 20px;
}

.list_item_detail h2 {
  margin: 20px 0 10px 0;
}

.list_item_detail a {
  color: #2C3333;
}

.list_item_rating_value {
  padding: 15px;
}

.list_item_title a {
  padding: 10px 0 10px 0;
}

.list_item_description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; 
          line-clamp: 3; 
  -webkit-box-orient: vertical;
}

footer {
	background-color: #2C3333;
	color: white;
	font-size: 17px;
	width: 100%;
	text-align: center;
  padding: 30px;
}

.navbar_menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2C3333;
  width: 100%;
}

.navbar_menu a {
  color: white;
  font-size: 20px;
  padding: 10px;
}

.header_menu {
  border: none;
  padding: 10px 15px;
  color: white;
  background-color: #2C3333;
  font-size: 20px;
}

.resto {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  display: grid;
  grid-template-columns: 1fr;
}

.detail_resto {
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;
}

.resto_img {
  width: 100%;
  border-radius: 6px;
  margin-bottom: 10px;
  padding: 25px;
  padding-bottom: 0px;
}

.resto_information {
  margin: 0px 25px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.resto_description {
  margin: 0px 25px;
}

.resto_description h2 {
  margin-bottom: 10px;
}

.resto_menu {
  margin: 0px 25px;
}

.resto_menu h2 {
  margin-bottom: 10px;
}

.menu_list {
  list-style-type: square;
  margin: 10px 0px 10px 25px;
}

.resto_review h2 {
  margin-left: 25px;
}

.review_list {
  margin: 10px 25px 30px 25px;
}

.review_item {
  box-shadow: rgba(5, 5, 5, 0.35) 0px 5px 15px;
  padding: 20px;
  margin: 15px 0px;
  border-radius: 6px;
}

.review_item_name {
  font-weight: 700;
  margin-bottom: 10px;
}

/*
  Like
*/
.like {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #395B64;
  
  position: fixed;
  bottom: 16px;
  right: 16px;
  border-radius: 50%;
  border: 0;
  
  font-size: 18px;
  color: white;
  cursor: pointer;
}