@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.skip_link {
  position: absolute;
  top: -50px;
  left: 0;
  background-color: #c00d19;
  color: white;
  padding: 15px;
  z-index: 100;
  text-decoration: none;
}
 
.skip_link:focus {
   top: 0;
}

.navbar {
  background-color: #2C3333;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  padding: 19px;
  text-decoration: none;
  color: white;
}

.navbar a:hover {
  background-color: #E7F6F2;
  color: black;
}

.navlist {
  list-style-type: none;
  display: flex;
}

.heroelement {
  display: flex;
  align-items: center;
  min-height: 350px;
  width: 100%;
  background-position: center;
  text-align: center;
}

.heroelement_text {
	margin: 0 auto;
}

.heroelement_texttitle {
	color: #fff;
	font-weight: 700;
	font-size: 40px;
	text-shadow: 1px 1px #000000;
}

.heroelement_textsubtitle {
	color: #fff;
	margin-top: 20px;
	font-size: 20px;
	font-weight: 700;
	text-shadow: 1px 1px #000000;
}

.content {
	width: 100%;
	margin: 0 auto;
}

.content h1 {
  text-align: center;
  padding: 30px;
  font-size: 25px;
}

.list {
  margin: 20px;
  margin-top: 0px;
	display: grid;
	gap: 20px 20px;
}

.list_item {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 100%;
  border-radius: 6px;
  position: relative;
}

.list_item_img {
  border-radius: 6px 6px 0 0;
	width: 100%;
	max-height: 250px;
}

.city {
  color: black;
  position: absolute;
  top: 20px;
  color: white;
  background-color: #2C3333;
  padding: 10px 20px 10px 20px;
}

.list_item_detail {
  margin: 20px;
}

.list_item_detail h2 {
  margin: 10px 0 10px 0;
}

.list_item_detail a {
  color: #2C3333;
}

footer {
	background-color: #2C3333;
	color: white;
	font-size: 17px;
	width: 100%;
	text-align: center;
  padding: 30px;
}

.navbar_menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2C3333;
  width: 100%;
}

.navbar_menu a {
  color: white;
  font-size: 20px;
  padding: 10px;
}

.header_menu {
  margin-left: 10px;
}

.navlist_mobile {
  display: flex;
  flex-direction: column;
  width: 100%;
  list-style-type: none;
}

.navitems_mobile {
  padding: 15px;
}

.navitems_mobile a {
  color: #2C3333;
}
