* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.navbar {
  background-color: #2C3333;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  padding: 20px;
  text-decoration: none;
  color: white;
}

.navbar a:hover {
  background-color: #E7F6F2;
  color: black;
}

.navlist {
  list-style-type: none;
  display: flex;
}

.heroelement {
  display: flex;
  align-items: center;
  min-height: 350px;
  width: 100%;
  background-position: center;
  text-align: center;
}

.heroelement_text {
	margin: 0 auto;
	max-width: 800px
}
.heroelement_texttitle {
	color: #fff;
	font-weight: 600;
	font-size: 36px;
	text-shadow: 1px 1px #141414
}
.heroelement_textsubtitle {
	color: #fff;
	margin-top: 16px;
	font-size: 18px;
	font-weight: 600;
	text-shadow: 1px 1px #141414
}
