@media screen and (max-width: 500px) {
	.navbar {
		display: none
	}
}

@media screen and (min-width: 700px) {
	.list {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
}

@media screen and (min-width: 900px) {
	.list {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr
	}
}

@media screen and (min-width: 1200px) {
    main {
        max-width: 1200px;
    }
}