@media screen and (min-width: 650px) {
  .navbar {
    grid-template-columns: 1fr auto;
    padding: 8px 32px;
  }
 
  .navbar .navbar_brand h1 {
    font-size: 1.5em;
  }
 
  .navbar .navbar_menu {
    display: none;
  }
 
  .navbar .navbar_navigation {
    position: static;
    width: 100%;
  }
 
  .navbar .navbar_navigation ul li {
    display: inline-block;
  }
 
  .navbar .navbar_navigation ul li a {
    display: inline-block;
    width: 120px;
    text-align: center;
    margin: 0;
  }
}

@media screen and (min-width: 700px) {
	.list {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
}

@media screen and (min-width: 900px) {
	.list {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr
	}
}

@media screen and (min-width: 1200px) {
    main {
        max-width: 1200px;
    }
}